<dialog-outlet></dialog-outlet>
<div>
  <table class="table table-striped" [mfData]="fluxo" #mf="mfDataTable" [mfRowsOnPage]="15">
    <thead>
      <tr>
       <th style="width: 9%"><mfDefaultSorter by="datTimeEvento">Data</mfDefaultSorter></th>
        <th style="width: 9%"><mfDefaultSorter by="indTipoMovto">Tipo</mfDefaultSorter></th>
        <th style="width: 5%"><mfDefaultSorter by="codMotoEntrada">Moto.Ent.</mfDefaultSorter></th>
        <th style="width: 5%"><mfDefaultSorter by="codOpeEntrada">Op. Ent.</mfDefaultSorter></th>
        <th style="width: 5%"><mfDefaultSorter by="codVeicEntrada">Veic.Ent.</mfDefaultSorter></th>
        <th style="width: 5%"><mfDefaultSorter by="numEnceEntrada">Encerrante</mfDefaultSorter></th>
        <th style="width: 5%"><mfDefaultSorter by="codMotoSaida">Moto.Sai.</mfDefaultSorter></th>
        <th style="width: 5%"><mfDefaultSorter by="codOpeSaida">Op.Sai.</mfDefaultSorter></th>
        <th style="width: 5%"><mfDefaultSorter by="codVeicSaida">Veic.Sai.</mfDefaultSorter></th>
        <th style="width: 5%"><mfDefaultSorter by="numEnceSaida">Encerrante</mfDefaultSorter></th>
        <th style="width: 5%"><mfDefaultSorter by="numQtdCargaBase">Carga</mfDefaultSorter></th>
        <th style="width: 5%"><mfDefaultSorter by="numQtdDescarga">Abast.</mfDefaultSorter></th>
        <th style="width: 5%"><mfDefaultSorter by="codCliente">Cliente</mfDefaultSorter></th>
        <th style="width: 5%"><mfDefaultSorter by="numContador">Maracdor</mfDefaultSorter></th>
        <th style="width: 5%"><mfDefaultSorter by="numQtdFluxo">Qtd.</mfDefaultSorter></th>
        <th style="width: 5%"><mfDefaultSorter >Ações</mfDefaultSorter></th>
    </thead>
    <tbody>
      <tr *ngFor="let item of mf.data">
        <td>{{ panelService.getDateTime(item.datTimeEvento) | date:'dd/MM/yyyy hh:mm'}}</td>
        <td class="text-left">{{ getTipo(item.indTipoMovto) }}</td>
        <td class="text-left">{{ item.codMotoEntrada  }}</td>
        <td class="text-left">{{ item.codOpeEntrada  }}</td>
        <td class="text-left">{{ item.codVeicEntrada  }}</td>
        <td class="text-left">{{ item.numEnceEntrada  }}</td>
        <td class="text-left">{{ item.codMotoSaida  }}</td>
        <td class="text-left">{{ item.codOpeSaida  }}</td>
        <td class="text-left">{{ item.codVeicSaida  }}</td>
        <td class="text-left">{{ item.numEnceSaida | number  }}</td>
        <td class="text-right">{{ item.numQtdCargaBase | number  }}</td>
        <td class="text-center">{{ item.numQtdDescarga | number  }}</td>
        <td class="text-center">{{ item.codCliente }}</td>
        <td class="text-center">{{ item.numContador | number  }}</td>
        <td class="text-center">{{ item.numQtdFluxo | number  }}</td>      
        <td class="text-center"><a (click)="setImagem(item.imgFotoMedidor);editUserDialog.show()" 
          [class.isDisabled]="item.imgFotoMedidor == null">
          <i class="material-icons">camera_alt</i>
        </a></td>      
      </tr>
    </tbody>
    <tfoot>
      <tr>
          <td colspan="4">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
          </td>
      </tr>
    </tfoot>
  </table>
</div>

<mdl-dialog #editUserDialog [mdl-dialog-config]="{
        clickOutsideToClose: false,
        styles:{
          'width':'25%',
          'height':'60%',
          'transform': 'translate(0, -65%)'},
        isModal:true,
        enterTransitionDuration: 400,
        leaveTransitionDuration: 400}">
  <div class="mdl-dialog__actions">
    <div class="mdl-grid mdl-grid-no-spacing">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--top mdl-typography--text-right">
        <mdl-button mdl-button-type="icon" (click)="editUserDialog.close()">
          <mdl-icon>close</mdl-icon>
        </mdl-button>      
      </div>
    </div>
  </div>

  <div class="mdl-dialog__content">
      <img id="base64image" src="{{ imagem }}" />
  </div>
</mdl-dialog>        
