<button #editUserButton mdl-button mdl-button-type="mini-fab" mdl-ripple (click)="editUserDialog.show()" style="margin: 5px 5px 5px 5px;">
  <mdl-icon>list</mdl-icon>
</button>
 
<mdl-dialog #editUserDialog
            [mdl-dialog-config]="{
              clickOutsideToClose: true,
              styles:{
                'width': '22em'},
              isModal:true,
              openFrom: editUserButton,
              enterTransitionDuration: 400,
              leaveTransitionDuration: 400}"
            (show)="onDialogShow()"
            (hide)="onDialogHide()">
  <span class="mdl-dialog__title">Saldos por Local</span>
  <div class="mdl-dialog__content">
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-tabela">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">LOCAL</th>
              <th *ngFor="let item of produtos; let i = index">{{item.codigos}}</th>
            </tr>
          </thead>
          <tbody *ngFor="let local of saldosDet; let j = index">
            <tr >
              <td class="mdl-data-table__cell--non-numeric">{{local.codLocal}}</td>
              <td *ngFor="let ind of local.produtos; let n = index">{{ind|number}}</td>
            </tr>
          </tbody>
        </table>          
  </div>
  <div class="mdl-dialog__actions">
    <button mdl-button (click)="editUserDialog.close()" mdl-button-type="fab">
        <mdl-icon>done</mdl-icon></button>
  </div>
</mdl-dialog>
