<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
        <h5 class="tit-tank">Tanque 1</h5>
        <img class="tank" src="{{imagem}}" alt="tanque" width="250" height="250">
    </div>
    <div class="mdl-cell mdl-cell--4-col">
            <h5 class="tit-tank">Tanque 2</h5>
            <img class="tank"  src="assets/img/tank_080.svg" alt="tanque" width="250" height="250">
    </div>
    <div class="mdl-cell mdl-cell--4-col">
            <h5 class="tit-tank">Tanque 3</h5>
            <img class="tank"  src="assets/img/tank_080.svg" alt="tanque" width="250" height="250">
    </div>
</div>
