.text-tank {
    text-align: center;
    padding: 0;
    margin: 0;
}
.text-vehicle {
    text-align: center;
    line-height: 1;
    padding: 0;
    margin: 0;
    size: 8pt
}
.tank {
    display: block;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
}
.vehicle {
    display: block;
    margin-top: -1px;
    margin-left: auto;
    margin-right: auto;
}
.vehicles {
    background-color: rgba(199, 199, 199, 0.4);
}
.tanks {
    background-color:rgba(183, 173, 173, 0.14);;
}
.boxed {
    border-style: solid;
    border-width: 0.1px;
    border-color: cornflowerblue;
    padding-bottom: 3px;
    background-color: rgba(199, 199, 199, 0.6);
}
.error {
    background-color: rgba(241, 77, 77, 0.3);
    color: darkred;
}