<dialog-outlet></dialog-outlet>
<app-panel-dashboard-volumes [diasCalculo]="service.diasCalculo"
  [volumeHoje]="service.volumeHoje"
  [volumeMensal]="service.volumeMensal"
  [totalDia]="service.totalDia"
  [totalMes]="service.totalMes">
</app-panel-dashboard-volumes>
<app-panel-dashboard-contas-mae 
  [volumeMensal]="service.volumeMensal"
></app-panel-dashboard-contas-mae>
<div class="mdl-grid mdl-grid--no-spacing">
  <div class="mdl-cell mdl-cell--8-col">
    <app-panel-dashboard-periodos-moveis></app-panel-dashboard-periodos-moveis>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <app-panel-dashboard-compras></app-panel-dashboard-compras>
  </div>
</div>
<app-panel-dashboard-estoque 
[Produtos]="getData.Produtos" 
[dataEstoque]="getData.dataEstoque"
[Periodos]="getData.Periodos">
</app-panel-dashboard-estoque>
<app-panel-dashboard-cr-receber
  [CRaVencer001]="getData.CRaVencer001"
  [CRaVencer002]="getData.CRaVencer002"
  [crProdutos]="getData.crProdutos">
</app-panel-dashboard-cr-receber>
