app-panel-dashboard-thermometer {
    padding: 6% 5% 6% 5%;
    margin: 2% 2% 2% 2%;
    height: 90%;
}

.mdl-text--center {
    text-align: center;
    padding-right: 25%;
    display: block;
    width: auto;
}

.linha_total {
    margin-top: 5%;
    padding-top: 3%;
    font-size: 10pt;
    text-align: center;
    display: block;
    width: auto;
    margin: auto;
}