/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
.mdl-button--fab { height:56px; }
.content-center {     display: table-cell;
    vertical-align: middle;
    height: 100vh;
    width: 100vw;
    text-align: center; }