<div>
    <table class="table table-striped" [mfData]="Carregamentos" #mf="mfDataTable" [mfRowsOnPage]="15">
      <thead>
      <tr>
        <th style="width: 13%"><mfDefaultSorter by="datCarregamento">Data</mfDefaultSorter></th>
        <th style="width: 5%"><mfDefaultSorter by="codProduto">Produto</mfDefaultSorter></th>
        <th style="width: 5%"><mfDefaultSorter by="codOperador">Operador</mfDefaultSorter></th>
        <th style="width: 7%"><mfDefaultSorter by="numTanqueSaida">Tanque Saída</mfDefaultSorter></th>
        <th style="width: 8%"><mfDefaultSorter by="numLitrosSaida">Litros Saída</mfDefaultSorter></th>
        <th style="width: 5%"><mfDefaultSorter by="codPlaca">Placa</mfDefaultSorter></th>
        <th style="width: 7%"><mfDefaultSorter by="numTanqueDestino">Tanque Destino</mfDefaultSorter></th>
        <th style="width: 8%"><mfDefaultSorter by="numLitrosEntrada">Litros Entrada</mfDefaultSorter></th>
        <th style="width: 6%"><mfDefaultSorter by="numSaldo">Saldo</mfDefaultSorter></th>
        <th style="width: 7%"><mfDefaultSorter by="numEncerranteIni">Encerrante Inicial</mfDefaultSorter></th>
        <th style="width: 7%"><mfDefaultSorter by="numEncerranteFinal">Encerrante Final</mfDefaultSorter></th>
        <th style="width: 7%"><mfDefaultSorter by="numEncerranteTanque">Encerrante Tanque</mfDefaultSorter></th>
        <th style="width: 6%"><mfDefaultSorter by="indSituacao">Situação</mfDefaultSorter></th>
        <th style="width: 6%"><mfDefaultSorter by="datDescarga">Descarga</mfDefaultSorter></th>
    </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of mf.data">
          <td>{{ item.datCarregamento | date:'dd/MM/yyyy hh:mm'}}</td>
          <td>{{ item.codProduto | uppercase}}</td>
          <td>{{ item.codOperador }}</td>
          <td class="text-center">{{ item.numTanqueSaida }}</td>
          <td class="text-right">{{ item.numLitrosSaida | number }}</td>
          <td>{{ item.codPlaca }}</td>
          <td class="text-center">{{ item.numTanqueEntrada }}</td>
          <td class="text-right">{{ item.numLitrosEntrada | number }}</td>
          <td class="text-right">{{ item.numSaldo | number }}</td>
          <td class="text-right">{{ item.numEncerranteIni |number }}</td>
          <td class="text-right">{{ item.numEncerranteFinal |number }}</td>
          <td class="text-right">{{ item.numEncerranteTanque |number }}</td>
          <td class="text-center">{{ item.indSituacao | number }}</td>
          <td class="text-right">{{ item.datDescarga|date:'dd/MM/yyyy' }}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
          <td colspan="4">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
          </td>
      </tr>
      </tfoot>
  </table>
  </div>